.landing-container {
  display: flex;
  flex-direction: row;
  margin: 10rem 10rem;
  gap: 20rem;
  align-items: center;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 4px #e980a6 solid;
  padding-bottom: 2rem;
}

.infos a {
  width: fit-content;
  color: white;
  border-radius: 2rem;
  background: #e980a6;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 40px;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.infos a:hover {
  background-color: #8b3141;
  text-decoration: none;
}



