.landing-container {
  display: flex;
  flex-direction: row;
  margin: 10rem 18rem;
  gap: 20rem;
  align-items: center;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 4px #e980a6 solid;
  padding-bottom: 2rem;
}

.infos a {
  width: fit-content;
  color: white;
  border-radius: 2rem;
  background: #e980a6;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 40px;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.infos a:hover {
  background-color: #8b3141;
  text-decoration: none;
}

.woman-infos-one {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 18rem;
    border-bottom: solid 4px #8b3141; 
    padding-bottom: 3rem ;
}

.woman-infos-one-ft{
    width: 33%;
}
.woman-infos-one-st{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 33%;
}

.woman-infos-one-st a {
    width: fit-content;
    color: white;
    border-radius: 2rem;
    background: #e980a6;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 40px;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  .woman-infos-one-st a:hover {
    background-color: #8b3141;
    text-decoration: none;
  }

  .problems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin: 10rem 28rem;
  }

  .cards{

    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .solucao{
    margin: 0;
    background-color: #FF6884;
    color: white;
    
  }
