.doencas-container{
    background-image: url('/public/bg7.png');
    height: 69.5vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 10vh 40rem 10vh 5rem ;
    
}

.doencas{
    display: flex;
    flex-direction: column;
}
.doencas-container h1   {
    color: #DE5D8B;
}
.doencas-container p   {
    color: black;
}



.grafico-doencas{
    width: 35rem;
    height: 35rem;
    border-radius: 20px;
}
.principais-doencas{
    color: #DE5D8B;
}

.principais-doencas ul {
    color: black;
}