.title a{
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10rem;
}

.page-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

}

.page-links a {
    font-weight: 700;
    font-size: 18px;
    color: #D35169;
    text-decoration: none;
    transition-duration: 600ms;
    transition-timing-function: ease;
    

}
.page-links a:hover {
    color: #8B3141;
    border-bottom: #8B3141;
}